<a href="https://colab.research.google.com/github/TamizharasanG/Travel-and-Tourism-Clarity-TTS/blob/main/Indian_Travel_recomendation_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Recomendation System building**

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import difflib


from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
data = pd.read_csv("https://github.com/TamizharasanG/Travel-and-Tourism-Clarity-TTS/blob/main/Indian_Tourism_custamized.csv?raw=true")

In [ ]:
data.head()

,Unnamed: 0,City,Place,Rating,Short crisp,State,City Latitude,City Longitude
0,0,Aamby Valley City,19 Degree North,4.6,place ATV time Aamby Valley experience adventu...,NaN,NaN,NaN
1,1,Abhaneri,Chand Baori (Step well),4.2,Jaipur step well place one Agra visit well ste...,Rajasthan,27.007289,76.607926
2,2,Abhaneri,Harshat Mata Temple,3.9,temple Chand Baori visit Abhaneri step well Ha...,Rajasthan,27.007289,76.607926
3,3,Acharapakkam,Achirupakkam,2.0,Lord Ganesha starting ritual Hindus common bel...,Tamil Nadu,12.407140,79.821645
4,4,Acharapakkam,Mazhai Malai Madha Shrine,5.0,shrine one hill situated Tamil Nadu history pl...,Tamil Nadu,12.407140,79.821645

In [ ]:
data["State"].unique()

array([nan, ' Rajasthan', ' Tamil Nadu', ' Kerala', ' Telangana',
       ' Gujarat', ' Andhra Pradesh', ' Tripura', ' Lakshadweep', ' Goa',
       ' Uttar Pradesh', ' Karnataka', ' Maharashtra', ' Uttarakhand',
       ' Mizoram', ' Ladakh', ' West Bengal', ' Madhya Pradesh',
       ' Arunachal Pradesh', ' Haryana', ' Chhattisgarh', ' Punjab',
       ' Jammu and Kashmir', ' Himachal Pradesh', ' Odisha', ' Sikkim',
       ' Puducherry', ' Bihar', ' Jharkhand',
       ' Andaman and Nicobar Islands', ' Assam', ' Meghalaya', ' Manipur',
       'Chandigarh', ' Dadra and Nagar Haveli and Daman and Diu',
       ' Delhi', ' Nagaland', 'Gulf of Kutch', 'Maharashtra', 'Narmada',
       'Puducherry', 'Tamil Nadu'], dtype=object)

In [ ]:
data.shape

(15239, 8)

In [ ]:
data.isnull().sum()

Unnamed: 0          0
City                0
Place               0
Rating              0
Short crisp         0
State             160
City Latitude     160
City Longitude    160
dtype: int64

In [ ]:
data.dropna(axis = 0, inplace = True)
data.drop(["Unnamed: 0"], axis = 1, inplace = True)
data = data.reset_index(drop=True)

#Since some names are with spaces in front of them strip is used
data["State"] = data["State"].apply(lambda x : x.strip())
data["Place"] = data["Place"].apply(lambda x : x.strip())

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15079 entries, 0 to 15078
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   City            15079 non-null  object
 1   Place           15079 non-null  object
 2   Rating          15079 non-null  float64
 3   Short crisp     15079 non-null  object
 4   State           15079 non-null  object
 5   City Latitude   15079 non-null  float64
 6   City Longitude  15079 non-null  float64
dtypes: float64(3), object(4)
memory usage: 824.8+ KB

In [ ]:
data["State"].unique()

array(['Rajasthan', 'Tamil Nadu', 'Kerala', 'Telangana', 'Gujarat',
       'Andhra Pradesh', 'Tripura', 'Lakshadweep', 'Goa', 'Uttar Pradesh',
       'Karnataka', 'Maharashtra', 'Uttarakhand', 'Mizoram', 'Ladakh',
       'West Bengal', 'Madhya Pradesh', 'Arunachal Pradesh', 'Haryana',
       'Chhattisgarh', 'Punjab', 'Jammu and Kashmir', 'Himachal Pradesh',
       'Odisha', 'Sikkim', 'Puducherry', 'Bihar', 'Jharkhand',
       'Andaman and Nicobar Islands', 'Assam', 'Meghalaya', 'Manipur',
       'Chandigarh', 'Dadra and Nagar Haveli and Daman and Diu', 'Delhi',
       'Nagaland', 'Gulf of Kutch', 'Narmada'], dtype=object)

In [ ]:
data.head()

,City,Place,Rating,Short crisp,State,City Latitude,City Longitude
0,Abhaneri,Chand Baori (Step well),4.2,Jaipur step well place one Agra visit well ste...,Rajasthan,27.007289,76.607926
1,Abhaneri,Harshat Mata Temple,3.9,temple Chand Baori visit Abhaneri step well Ha...,Rajasthan,27.007289,76.607926
2,Acharapakkam,Achirupakkam,2.0,Lord Ganesha starting ritual Hindus common bel...,Tamil Nadu,12.407140,79.821645
3,Acharapakkam,Mazhai Malai Madha Shrine,5.0,shrine one hill situated Tamil Nadu history pl...,Tamil Nadu,12.407140,79.821645
4,Achooranam,Wayanad Tea Museum,4.1,tea place museum tea museum visit history good...,Kerala,11.587189,76.019110

In [ ]:
considered_features = ["State", "City", "Place", "Rating", "Short crisp"]

#forming vector
combined_vector = data["State"] + " "+ data["City"] + " " + data["Place"] + " "+ str(data["Rating"]) + " " + data["Short crisp"]

**converting the text data to feature vectors**

In [ ]:
vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(combined_vector)

In [ ]:
# getting the similarity scores using cosine similarity
similarity = cosine_similarity(feature_vectors)
print(similarity.shape)

**Function to Recomend Places based on your taste**

In [ ]:
place_name = input(' Enter your favourite place name here I will recommend some similar place like that: ')
state_name = input("Enter your desired state name, if not enter All States : ")
limit = int(input("Enter the limit of recommendations : "))

def recommend_places(place_name, state_name, limit):
  try:
    list_of_all_places = data['Place'].tolist()
    find_close_match = difflib.get_close_matches(place_name, list_of_all_places)
    close_match = find_close_match[0]
    index_of_the_place = data[data["Place"] == close_match].index.values[0]
    similarity_score = list(enumerate(similarity[index_of_the_place]))
    sorted_similar_places = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

    i = 1
    rec_places = []
    for place in sorted_similar_places:
      index = place[0]
      title_from_index = data[data.index==index]['Place'].values[0]
      if (i < 100):
        rec_places.append(title_from_index)
        i+=1

    df_new = data[data["Place"] == rec_places[0]]
    for i in rec_places[1:]:
      df_n = data[data["Place"] == i]
      df_new = pd.concat([df_new, df_n], axis = 0, ignore_index = True)

    if state_name == "All States": 
      df_return =  df_new.iloc[:limit+1, :5]
      if df_return.shape[0] > 0:
        return df_return
      elif df_return.shape[0] == 0:
        return "No Such Data Found Try Other place !!!"
    elif state_name != "All States":
      df_return =  df_new[df_new["State"] == state_name].iloc[:limit+1, :5]
      if df_return.shape[0] > 0:
        return df_return
      elif df_return.shape[0] == 0:
        return f"No Such Data Found in {state_name} .Try with All States to find match !!!" 

  except IndexError:
    return "No Such Data Found Try Other place !!!"

  #return "Recommended Places as per your taste : ", rec_places

recommend_places(place_name, state_name, limit)

**The same process is done as a webapp using Streamlit**

# **Recommendation Web app using Streamlit**

In [ ]:
!pip install pyngrok==4.1.1
!pip install streamlit -q
!pip install pyngrok
!pip install streamlit-lottie

In [2]:
!ngrok authtoken 2Op6KxeISOnrpDsw1Evp0nuqsQo_3vNvhKSLokNmWSvRXWbMg

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

In [3]:
!wget https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
!unzip -qq ngrok-stable-linux-amd64.zip

--2023-04-23 10:28:36--  https://bin.equinox.io/c/4VmDzA7iaHb/ngrok-stable-linux-amd64.zip
Resolving bin.equinox.io (bin.equinox.io)... 52.202.168.65, 18.205.222.128, 54.161.241.46, ...
Connecting to bin.equinox.io (bin.equinox.io)|52.202.168.65|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 13921656 (13M) [application/octet-stream]
Saving to: ‘ngrok-stable-linux-amd64.zip’

ngrok-stable-linux- 100%[===================>]  13.28M  3.43MB/s    in 5.0s

2023-04-23 10:28:41 (2.63 MB/s) - ‘ngrok-stable-linux-amd64.zip’ saved [13921656/13921656]

In [52]:
%%writefile function.py
#Importing essentials
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import difflib
import streamlit as st
from streamlit_lottie import st_lottie

from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

#preparing  data
data = pd.read_csv("https://github.com/TamizharasanG/Travel-and-Tourism-Clarity-TTS/blob/main/Indian_Tourism_custamized.csv?raw=true")

data.dropna(axis = 0, inplace = True)
data.drop(["Unnamed: 0"], axis = 1, inplace = True)
data = data.reset_index(drop=True)

#Since some names are with spaces in front of them strip is used
data["State"] = data["State"].apply(lambda x : x.strip())
data["Place"] = data["Place"].apply(lambda x : x.strip())

considered_features = ["State", "City", "Place", "Rating", "Short crisp"]

#forming vector
combined_vector = data["State"] + " "+ data["City"] + " " + data["Place"] + " "+ str(data["Rating"]) + " " + data["Short crisp"]

vectorizer = TfidfVectorizer()
feature_vectors = vectorizer.fit_transform(combined_vector)

# getting the similarity scores using cosine similarity
similarity = cosine_similarity(feature_vectors)

def recommend_places(place_name, state_name, limit):
  try:
    list_of_all_places = data['Place'].tolist()
    find_close_match = difflib.get_close_matches(place_name, list_of_all_places)
    close_match = find_close_match[0]
    index_of_the_place = data[data["Place"] == close_match].index.values[0]
    similarity_score = list(enumerate(similarity[index_of_the_place]))
    sorted_similar_places = sorted(similarity_score, key = lambda x:x[1], reverse = True) 

    i = 1
    rec_places = []
    for place in sorted_similar_places:
      index = place[0]
      title_from_index = data[data.index==index]['Place'].values[0]
      if (i < 100):
        rec_places.append(title_from_index)
        i+=1

    df_new = data[data["Place"] == rec_places[0]]
    for i in rec_places[1:]:
      df_n = data[data["Place"] == i]
      df_new = pd.concat([df_new, df_n], axis = 0, ignore_index = True)

    if state_name == "All States": 
      df_return =  df_new.iloc[:limit+1, :5]
      if df_return.shape[0] > 0:
        return df_return
      elif df_return.shape[0] == 0:
        return "Sorry !!! No Such Data Found Try Other place !!!"
    elif state_name != "All States":
      df_return =  df_new[df_new["State"] == state_name].iloc[:limit+1, :5]
      if df_return.shape[0] > 0:
        return df_return
      elif df_return.shape[0] == 0:
        return f"Sorry !!! No Such Data Found in {state_name} .Try with All States to find match !!!" 

  except IndexError:
    return "Sorry !!! No Such Data Found Try Other place !!!"

Writing function.py

In [61]:
%%writefile aa.py
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import difflib
import streamlit as st
from streamlit_lottie import st_lottie
from function import recommend_places

st.title('Tourist Place Recommender')
place_name = st.text_input('Enter you favourite vacation spot here, I will suggest you somme similar places you may like: ')
state_list = ['All States-15079','Maharashtra - 1954','Tamil Nadu - 1540','Karnataka - 1294','Kerala - 1150','Rajasthan - 931','Gujarat - 825','Uttar Pradesh - 763','West Bengal - 720','Madhya Pradesh - 580',
'Himachal Pradesh - 486','Uttarakhand - 475','Delhi - 430','Andhra Pradesh - 391','Goa - 385','Telangana - 357','Odisha - 352','Punjab - 270','Bihar - 270','Haryana - 229','Jharkhand - 222','Jammu and Kashmir - 208',
'Assam - 183','Chhattisgarh - 167','Sikkim - 113','Meghalaya - 113','Ladakh - 108','Arunachal Pradesh - 90','Andaman and Nicobar Islands - 79','Manipur - 70','Dadra and Nagar Haveli and Daman and Diu - 62',
'Puducherry - 59','Chandigarh - 47','Tripura - 45','Nagaland - 42','Mizoram - 37','Gulf of Kutch - 23','Lakshadweep - 6']


state_name_raw = st.selectbox("Select State", state_list)
state_name = state_name_raw.split("-")[0].strip()
limit = st.number_input('Pick a number', 1, 50)
if st.button("Recomend"):
  out = recommend_places(place_name, state_name, limit)
  if type(out) == str:
    st.info(out)
  if type(out) != str:
    st.dataframe(out)

Overwriting aa.py

In [63]:
get_ipython().system_raw('./ngrok http 8501 &')
! curl -s http://localhost:4040/api/tunnels | python3 -c \
    "import sys, json; print(json.load(sys.stdin)['tunnels'][0]['public_url'])"

https://28f7-34-105-100-144.ngrok-free.app

In [64]:
!streamlit run /content/aa.py

Collecting usage statistics. To deactivate, set browser.gatherUsageStats to False.


  You can now view your Streamlit app in your browser.

  Network URL: http://172.28.0.12:8501
  External URL: http://34.105.100.144:8501

  Stopping...
  Stopping...